.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow-y: scroll;
  background-color: lightgrey;
  font-family: "Helvetica", sans-serif;
}

.App::-webkit-scrollbar {
  display: none;
}

.App-header {
  min-width: 100%;
}

.App-content {
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0 2% 0 2%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.App-content > h1 {
  place-self: center;
}

.user-form {
  grid-column-start: 2;
  grid-column-end: 2;
}

.container {
  display: grid;
  padding: 1%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

/* no footer needed so far
.App-footer {
  min-width: 100%;
  background-color: darkgrey;
  color: black;
}*/
