.login {
  width: fit-content;
  height: fit-content;
  place-self: center;
  text-align: center;
}

.register-redirect {
  display: inline-flex;
  margin-top: 5%;
}

.reg-link {
  color: black;
}

.reg-link:hover {
  color: black;
}